*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    nav
    {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(83, 148, 168);
    box-shadow: 2px 2px 9px #000000;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0px;
    }
    nav >.logo{
        margin-left: 10px;
    }
    
    nav >.opt ul
    {
     display: flex;
    list-style-type: none;
    }
    nav>.opt ul li{
     margin: 10px;
     color: black;
    }
    nav>.opt ul li a{
        color: black;
        text-decoration: none;
        cursor:pointer;
    }
    .container{
        border: 1px solid red;
        width: 100%;
        height: 90vh;
    }
    .container>.banner{
        border: 1px solid black;
        height: 99vh;
    }
    .container img{
        width: 100%;
    }
.container>.glass{
    border: 1px solid black;
    position: absolute;
    height: 80vh;
    width: 500px;
    top: 90px;
    margin-left: 60%;
    background-color: rgba(255, 255, 255, 0.397);
    filter: blur(2px);
    border-radius: 10px;
    
}
.container>.forget{
    border: 1px solid red;
    text-align: center;
    height: 100%;
    position: absolute;
    height: 80vh;
    width: 500px;
    top: 90px;
    margin-left: 60%;
    
}